<div class="sidebar-header">
  <div>
    <img
      src="assets/images/small-logo-96x96.png"
      class="logo-icon"
      alt="logo icon"
    />
  </div>
  <div>
    <h4 class="logo-text">iHelpBD</h4>
  </div>
  <div class="toggle-icon ms-auto">
    <i class="lni lni-angle-double-left" title="Click for collapse/toggled"></i>
  </div>
</div>
