<ul class="metismenu" id="menu">
  <li>
    <a href="javascript:;" class="has-arrow">
      <div class="parent-icon"><i class="bx bx-home-alt"></i></div>
      <div class="menu-title">Dashboard</div>
    </a>
    <ul>
      <li>
        <a href="/"><i class="bx bx-radio-circle"></i>Dashboard</a>
      </li>
      <li>
        <a href="/home"><i class="bx bx-radio-circle"></i>Home</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="javascript:;" class="has-arrow">
      <div class="parent-icon"><i class="bx bx-category"></i></div>
      <div class="menu-title">Application</div>
    </a>
    <ul>
      <li>
        <a href="/chat"><i class="bx bx-radio-circle"></i>Chat</a>
      </li>
      <li>
        <a href="/chat2"
          ><i class="bx bx-radio-circle"></i>Chat 2</a
        >
      </li>
    </ul>
  </li>
  <li class="menu-label">Auth</li>
  <li>
    <a class="has-arrow" href="javascript:;">
      <div class="parent-icon"><i class="bx bx-lock"></i></div>
      <div class="menu-title">Authentication</div>
    </a>
    <ul>
      <li>
        <a class="has-arrow" href="javascript:;"
          ><i class="bx bx-radio-circle"></i>Basic</a
        >
        <ul>
          <li>
            <a href="#" target="_blank"
              ><i class="bx bx-radio-circle"></i>Sign In</a
            >
          </li>
          <li>
            <a href="#" target="_blank"
              ><i class="bx bx-radio-circle"></i>Sign Up</a
            >
          </li>
          <li>
            <a href="#" target="_blank"
              ><i class="bx bx-radio-circle"></i>Forgot Password</a
            >
          </li>
          <li>
            <a href="#" target="_blank"
              ><i class="bx bx-radio-circle"></i>Reset Password</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
